<h1> <%= @movie.title %> </h1>
<%= link_to "Remover", @movie, data: { turbo_method: :delete, turbo_confirm: "Confirmar" } %>

<dl>
    <dt>Ano de lançamento</dt>
    <dd> <%= @movie.year %> </dd>

    <dt>Sinopse</dt>
    <dd> <%= @movie.synopsis %> </dd>

    <dt>País de origem</dt>
    <dd> <%= @movie.country %> </dd>

    <dt>Duração</dt>
    <dd> <%= @movie.duration %> min </dd>
</dl>