<h1> <%= @movie.title %> </h1>
<%= link_to 'Editar', edit_movie_path %>

<dl>
    <dt>Ano de lançamento</dt>
    <dd> <%= @movie.year %> </dd>

    <dt>Sinopse</dt>
    <dd> <%= @movie.synopsis %> </dd>

    <dt>País de origem</dt>
    <dd> <%= @movie.country %> </dd>

    <dt>Duração</dt>
    <dd> <%= @movie.duration %> min </dd>
</dl>