<h1>Catálogo de filmes!</h1>

<h2>Filmes</h2>
<ul>
    <% @movies.each do |movie| %>
        <li> <%= link_to movie.title, movie_path(movie.id) %> (<%= movie.year %>) </li>
    <% end %>
</ul>
<%= link_to "Cadastrar novo filme", new_movie_path %>

<h2>Diretores</h2>
<ul>
    <% @directors.each do |director| %>
        <li> <%= link_to director.name, director_path(director.id) %> </li>
    <% end %>
</ul>
<%= link_to "Cadastrar nova diretora", new_director_path %>

<h2>Gêneros</h2>
<ul>
    <% @genres.each do |genre| %>
        <li> <%= link_to genre.name, genre_path(genre.id) %> </li>
    <% end %>
</ul>
<%= link_to "Cadastrar novo gênero", new_genre_path %>
