<h1>Catálogo de filmes!</h1>

<h2>Filmes</h2>
<ul>
    <% @movies.each do |movie| %>
        <li> <%=movie.title%> (<%= movie.year %>) </li>
    <% end %>
</ul>
<%= link_to "Cadastrar novo filme", new_movie_path %>

<h2>Diretores</h2>
<ul>
    <% @directors.each do |director| %>
        <li> <%=director.name%> </li>
    <% end %>
</ul>
<%= link_to "Cadastrar nova diretora", new_director_path %>

<h2>Gêneros</h2>
<ul>
    <% @genres.each do |genre| %>
        <li> <%=genre.name%> </li>
    <% end %>
</ul>
<%= link_to "Cadastrar novo gênero", new_genre_path %>
